/* Barra superior azul */
/* Barra superior */

@font-face {
    font-family: 'MyriadPro';
    src: url('../assets/fonts/MyriadPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'UbuntuLight';
    src: url('../assets/fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  


.top-bar {
    font-family: 'UbuntuLight';
    background-color: #FF6E40; /* Fondo naranja */
    color: white; /* Texto blanco */
    text-align: center; /* Centra el texto */
    padding: 10px 0; /* Espaciado interno */
    font-size: 20px; /* Tamaño de fuente */
    font-weight: 500; /* Peso de fuente medio */
}

.copyright-symbol {
  border: 1px solid white; /* Borde blanco */
  padding: 2px; /* Espacio alrededor del símbolo para que el borde sea visible */
  border-radius: 50%; /* Opcional: para un borde redondeado */
  display: inline-block; /* Asegura que el borde se ajuste al tamaño del contenido */
  color: white; /* Color del texto */
}

.top-bar strong {
    font-weight: bold;
}

/* Enlace con degradado */
.top-bar a {
    display: inline-block;
    background: linear-gradient(90deg,#ff8b31, #FF6E40, #FF007B, #191b38); /* Degradado de colores */
    color: white; /* Texto blanco */
    padding: 5px 15px; /* Tamaño interno del botón */
    border-radius: 0px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Negrita */
    margin-left: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

.subscripcion {
  display: inline-block;
  background: linear-gradient(90deg,#ff8b31, #FF6E40, #FF007B, #191b38);
  color: white; /* Texto blanco */
  padding: 5px 15px; /* Tamaño interno del botón */
  border-radius: 20px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  font-weight: bold; /* Negrita */
  margin-left: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

.btn-method{
  font-family: 'Ubuntu';
  display: inline-block;
  background: linear-gradient(90deg,#ff8b31, #FF6E40, #FF007B, #191b38);
  color: white; /* Texto blanco */
  padding: 5px 15px; /* Tamaño interno del botón */
  border-radius: 20px; /* Bordes redondeados */
  text-decoration: none; /* Sin subrayado */
  font-weight: bold; /* Negrita */
  margin-left: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

/* Efecto hover para el enlace */
.top-bar a:hover {
    transform: scale(1.1); /* Agranda ligeramente el botón */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Sombra al pasar el cursor */
    text-decoration: none; /* Asegura que no haya subrayado */
}

.top-bar-icon {
  font-family: 'UbuntuLight';
  height: 2em; /* Ajusta la altura al tamaño de la fuente */
  width: auto; /* Mantén las proporciones originales */
  margin-right: 0.5em; /* Espacio entre la imagen y el texto */
  vertical-align: middle; /* Alinea la imagen con el texto */
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    background-color: black;
    color: #333;
}

/* Header */
.header {
    background-color: #ffffff;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header img {
    height: 80px;
}

/* texto del menu */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-left: auto;
  margin-top: 70px; /* Baja toda la lista */
}

.nav-links a {
  font-family: 'UbuntuLight';
  font-weight: bold;
  text-decoration: none;
  color: #aaa;
  font-size: 20px;
  padding-top: 5px; /* Baja individualmente los textos dentro de los enlaces */
}

.nav-links a:hover {
  color: #FF6E40;
}


/*Social icons*/
.social-iconss {
  display: flex;
  gap: 20px; /* Espaciado entre los iconos */
  justify-content: flex-end; /* Alinear los iconos a la derecha */
  margin-bottom: 20px; /* Espaciado hacia los botones de abajo */
}

.social-iconss a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Iconos blancos */
  background-color: #1F3A93; /* Fondo azul */
  width: 40px; /* Tamaño del círculo */
  height: 40px; /* Tamaño del círculo */
  border-radius: 50%; /* Forma circular */
  font-size: 20px; /* Tamaño del icono */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones */
}

.social-iconss a:hover {
  background-color: #FF6E40; /* Fondo cambia al pasar el cursor */
  transform: scale(1.1); /* Efecto de agrandamiento */
}

.plan-description {
  font-size: 40px !important; /* Ajusta el tamaño según tus necesidades */
  font-weight: bold !important; /* Ejemplo de otro estilo */
  color: white !important; /* Ejemplo de color */
  padding: 100px !important;
  margin-right: 50px !important;
  margin-left: -50px !important;
}

.plan {
  flex: 1; /* Asegura que todos los contenedores tengan el mismo tamaño */
  color: #ffffff;
  border-radius: 15px;
  text-align: center;
  max-width: 90%;

}

.plan-icon {
  width: 40px !important; /* Ajusta el tamaño según tus necesidades */
  height: 40px !important; /* Ajusta el tamaño según tus necesidades */
  margin-right: 8px !important; /* Espacio entre la imagen y el texto */
  vertical-align: middle !important; /* Alinea verticalmente con el texto */
}

.white-rectangle {
  background-color: white !important; /* Fondo blanco */
  border: 1px solid #ccc !important;/* Borde gris claro */
  padding: 20px !important;
  color: #1F3A93 !important;
}

.white-rectangle p,
.white-rectangle .plan-button,
.white-rectangle .plan-price {
  color: #1F3A93 !important; /* Asegura que todos los textos dentro del div sean azules */
}

.white-rectangle h3{
  color: #FF6E40 !important; /* Asegura que todos los textos dentro del div sean azules */
}



/* Botones */
.buttons {
    display: flex;
    gap: 10px;
}

.button {
    font-family: 'UbuntuLight';
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-login {
    font-family: 'UbuntuLight';
    background-color: #FF6E40;
    color: #ffffff;
    border: none;
}

.btn-login:hover {
    background-color: #FF5722;
}

.btn-register {
    background-color: transparent;
    color: #FF6E40;
    border: 2px solid #FF6E40;
}

.btn-register:hover {
    background-color: #FF6E40;
    color: #ffffff;
}

/* Slider */
.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slider img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover; /* Esto asegura que la imagen ocupe bien el espacio del slider */
  }
  
  .slider .slides {
    position: relative;
  }
  
  .slider::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Ajusta este valor según qué tan alto quieras el degradado */
    background: linear-gradient(transparent, black); /* Sombrea de transparente a negro */
    pointer-events: none; /* Para que no interfiera con el contenido */
  }
  

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slide-text {
    position: absolute;
    bottom: 20px;
    left: 70%;
    transform: translateX(-50%);
    color: #fff !important; /* Asegura que el color blanco se aplique siempre */
    font-size: 20px;
    font-weight: bold;
    text-shadow: none; /* Elimina cualquier sombra si la había */
    text-align: center;
    background: none; /* Sin fondo detrás del texto */
    opacity: 1; /* Elimina cualquier opacidad */
    z-index: 2; /* Asegura que el texto esté por encima de cualquier otro elemento */
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

@media (max-width: 768px) {
  .slide-image {
    object-fit: contain; /* Ajusta la imagen para que se contenga dentro del contenedor */
  }
}

/* Gradiente para el slider */
.slides::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 30%,
        rgba(0, 0, 0, 0.7) 100%
    );
    pointer-events: none;
}

/* Puntos de navegación */
.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 3; /* Asegura que los puntos estén visibles por encima de otros elementos */
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #fff; /* Puntos completamente blancos */
    border-radius: 50%;
    cursor: pointer;
    opacity: 1 !important; /* Elimina cualquier opacidad */
}

.dot.active {
    background-color: #FF6E40; /* Mantén el color del punto activo */
}


/* Formulario de login */
.text-form {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    background-color: transparent; /* Sin fondo */
    padding: 0; /* Sin espaciado interno */
    border-radius: 0; /* Sin bordes redondeados */
    box-shadow: none; /* Sin sombra */
    color: #fff; /* Color del texto */
    font-family: 'Ubuntu';
    font-size: 60px; /* Tamaño del texto */
    line-height: 1; /* Reduce la separación entre líneas */
    width: 50%; /* Ajusta el ancho a la mitad de la pantalla */
    text-align: left; /* Alinea el texto a la izquierda */
    word-wrap: break-word; /* Permite que el texto se ajuste automáticamente a nuevas líneas */
    font-weight: bold; /* Texto en negrita */
}

.text-form .highlight {
  color: #fff; /* Color del texto resaltado */
  border-bottom: 20px solid #2E3192; /* Línea azul */
  padding-bottom: 2px; /* Espacio entre el texto y la línea */
  
}

/* Info Section */
.info-section {
  position: relative;
  background: linear-gradient(to bottom, black 50%, white 50%);
  background-image: url('https://firebasestorage.googleapis.com/v0/b/hawejin-files.appspot.com/o/fondo3.png?alt=media&token=759a2bc7-9ff9-46e9-9b8c-35a10a2367ca'), 
                    linear-gradient(to bottom, black 50%, white 50%);
  background-size: cover, 100% 100%; /* La imagen ocupa toda la sección */
  background-position: center, 0 0; /* Centra la imagen y el gradiente */
  background-repeat: no-repeat, no-repeat; /* Evita repeticiones */
  padding: 60px 0;
  padding-bottom: 200px;
  height: auto;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



.info-background {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    position: relative;
    padding: 20px;
  
}

.info-content2 {
    flex: 1;
    color: #fff;
    font-size: 20px;
    font-family: 'Ubuntu';
    text-align: left;
    padding: 20px;
    padding-top: 50px;
    max-width: 600px;
}

.info-content2 h2{
  font-size: 60px;
  padding-bottom:10%;
  font-weight: bold;
  font-family: 'Ubuntu';
}

.info-content2 .highlight {
  color: #fff; /* Color del texto resaltado */
  border-bottom: 20px solid #2E3192; /* Línea azul */
  padding-bottom: 2px; /* Espacio entre el texto y la línea */
  font-size: 60px;
}

.info-content2 p {
  font-family: 'UbuntuLight';
  font-size: 25px;
  color: #fff;
  text-align: justify;
  margin-top: -50px;
  
}

.info-logo2 {
  width: 150px;
  height: auto;
  text-align: center;
}

.compu-img {
    flex: 1;
    width: 450px;
    height: auto;
    margin-left: 700px;
    margin-top:-540px;
    padding: 1px;
}

.info-logo {
  width: 150px; /* Ancho deseado */
  height: auto; /* Mantiene la proporción de la imagen */
  max-width: 100%; /* Evita que la imagen sea más grande que su contenedor */
}


.logo-container {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.logo-container2 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.info-logo {
    width: 150px;
    height: auto;
}

/* .info-logo2 {
  width: 150px;
  height: auto;
  text-align: center;
} */

.container_logo2 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Opcional: centra también verticalmente */
}

.info-logo2 {
  width: 150px; /* Ajusta el ancho al tamaño deseado */
  height: auto; /* Mantén la proporción del logo */
}

.feature-section {
    background-color: #fff;
    padding: 50px 0;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.left-content {
    flex: 1;
    text-align: center; /* Centrar la imagen */
}

.feature-image {
    max-width: 100%;
    height: auto;
}

.feature-section .right-title h2 {
    font-size: 70px;
    margin-bottom: 20px;
    color: #F15A29; 
    font-weight: bold;
    font-family: 'Ubuntu';
    text-align: right;
}

.right-title2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #F15A29; 
  font-family: 'UbuntuBold', sans-serif;
  text-align: center;
}


.right-content {
    flex: 1;
    padding-left: 100px; /* Añadir espacio entre la imagen y el texto */
    color: #aaa; 
    font-family: 'UbuntuBold', sans-serif;
    font-size: 30px;
}

.right-content h2 {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #F15A29; /* Color naranja */
    font-weight: bold;
    font-family: 'Ubuntu';
}

.right-content p {
    font-size: 25px;
    line-height: 1.5;
    font-family: 'UbuntuLight';
}

/* Planes Section */
.plans-section {
  background: linear-gradient(90deg, #ff8c00, #ff007b); /* Fondo degradado */
  color: white;
  padding: 60px 20px;
}

.plans-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Dos columnas: 1 para el título y 3 para las tarjetas */
  gap: 20px; /* Espaciado entre las columnas */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.plans-title {
  text-align: center;
}

.plans-title h2 {
  font-size: 78px;
  font-weight: bold;
  font-family: 'Ubuntu';
}

.plans-grid {
  display: flex;
  justify-content: space-between;
  gap: 10px; 
}

.text-card {
  font-family: 'UbuntuLight';
} 

.plan h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 15px;
}

.plan p {
  font-family: 'UbuntuLight';
  font-size: 16px;
  margin: 10px 0;
}

.plan-button {
  background-color: #FF6E40;
  color: rgb(52, 184, 218);
  padding: 12px 30px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan-button:hover {
  background-color: #e6006f;
  color: white!important;
}

.plan-price {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

/* metodos de pago */
/* Planes Section */
.method-section {
  background: white; /* Fondo degradado */
  color: #ff6e40;
  padding: 60px 20px;
}

.method-description {
  font-size: 40px !important; /* Ajusta el tamaño según tus necesidades */
  font-weight: bold !important; /* Ejemplo de otro estilo */
  color: #ff6e40 !important; /* Ejemplo de color */
  padding: 100px !important;
  margin-right: 50px !important;
  margin-left: -50px !important;
}


.discount-badge {
  background: #ffd700;
  color: #333;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
  display: inline-block;
}

  

/* Socios estratégicos Section */
.partners-section {
    background-color: #ffffff;
    color: #ff6e40;
    padding: 50px 20px;
    text-align: center;
  }
  
  .partners-header h2 {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Ubuntu';
    margin-bottom: 50px;
  }
  
  .partners-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .partner-logo {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .partner-logo:hover {
    transform: scale(1.1);
  }
  
  /* Nuevo Footer */
  .new-footer {
    background-color: #1f3a93;
    color: white;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-logo img {
    width: 150px;
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
  }
  
  .footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 5px;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: #ff6e40;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icons a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #ff6e40;
  }
  
  .whatsapp-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .whatsapp-link i {
    margin-right: 5px;
  }
  

/* Responsive Adjustments */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .slider {
        height: 300px;
    }

    .feature-section {
        flex-direction: column;
        text-align: center;
    }

    .right-content h2 {
        font-size: 22px;
        font-weight: bold;
        font-family: 'Ubuntu';
    }

    .right-content p {
      font-family: 'UbuntuLight';
        font-size: 14px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer .section {
        margin: 10px;
        text-align: center;
    }

    .info-content2, .compu-img {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .info-logo {
        width: 120px;
    }
}

/* Ajustes para pantallas medianas (tablets y pequeñas laptops) */
@media (max-width: 1024px) {
  .header {
      flex-direction: column;
      text-align: center;
  }

  .nav-links {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
  }

  .slider {
      height: 400px;
  }

  .text-form {
      font-size: 40px;
      width: 80%;
      margin: 0 auto;
  }

  .info-content2, .compu-img {
      flex-direction: column;
      text-align: center;
      width: 100%;
  }

  .info-logo {
      width: 100px;
  }


 

  .partners-logos {
      flex-wrap: wrap;
      gap: 10px;
  }

  .partner-logo {
      width: 100px;
  }

  .footer-container {
      flex-direction: column;
      align-items: center;
  }
}

/* Ajustes para pantallas pequeñas (móviles) */
@media (max-width: 480px) {

  .header {
    flex-direction: column; /* Cambia a disposición en columna */
    align-items: center; /* Centra todos los elementos */
    text-align: center; /* Centra el texto */
  }

  .header img {
    margin-bottom: 10px;
    height: 60px; /* Ajusta el tamaño del logo */
  }

  .nav-links {
    transform: translateX(-20px); /* Ajusta la posición solo en móvil */
  }

  .right-section {
    flex-direction: column; /* Cambia los botones y redes sociales a columna */
    gap: 10px;
    margin-top: 15px;
  }

  .social-iconss {
    justify-content: center; /* Centra los iconos de redes sociales */
  }

  .buttons {
    flex-direction: column; /* Cambia los botones a disposición vertical */
    gap: 10px;
  }

  .feature-container {
    flex-direction: column; /* Cambiar a una columna */
    align-items: center; /* Centrar contenido */
    text-align: center; /* Centrar texto */
  }

  .left-content {
    display: none; /* Ocultar la imagen */
  }

  .right-content {
    text-align: justify; /* Justificar el texto */
    padding: 20px; /* Añadir espaciado alrededor del texto */
  }

  .right-title {
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center; /* Asegura que el texto esté centrado */
    height: 100%; /* Asegúrate de que tenga suficiente espacio */
    margin: 0 auto; /* Centra el contenedor dentro de su padre */
  }
  
  .right-title h2 {
    font-size: 48px; /* Ajusta el tamaño de fuente si es necesario */
    font-weight: bold;
    font-family: 'Ubuntu';
    color: #ff6e40; /* Puedes cambiar el color si deseas */
  }

  .info-content2 .highlight {
    border-bottom: 20px solid transparent;
    font-size: 60px;
   
  }

  .info-content2 h2{
    font-size: 60px;
    padding-bottom:10%;
    margin-bottom: 10%;
    font-weight: bold;
    font-family: 'Ubuntu';
  }

  .right-title2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #F15A29; 
  font-family: 'UbuntuBold', sans-serif;
  text-align: center;
}

  .slider {
      height: 250px;
  }

  .text-form {
      font-size: 30px;
      width: 90%;
  }

  .info-content2 {
      font-size: 16px;
      padding: 10px;
  }

  .compu-img {
      display: none; /* Opcional: oculta la imagen en móviles */
  }



  .plans-container {
    grid-template-columns: 1fr; /* Una sola columna */
    text-align: center; /* Centra el contenido */
    gap: 20px; /* Espaciado entre el título y las tarjetas */
  }

  .plans-title {
    margin-bottom: 20px; /* Espacio entre el título y las tarjetas */
  }


  .new-footer .footer-container {
    display: flex;
    flex-direction: column; /* Cambiar a una sola columna */
    align-items: center; /* Centrar horizontalmente */
    text-align: center; /* Asegurar que el texto esté centrado */
    gap: 20px; /* Espaciado entre las secciones */
  }

  .new-footer .footer-logo img {
    margin-bottom: 20px;
    margin-left: -60px; /* Espaciado entre el logo y las demás secciones */
  }

  .new-footer .footer-section {
    width: 100%; /* Asegurar que las secciones ocupen todo el ancho */
  }

  .new-footer .footer-section h4 {
    margin-bottom: 10px; /* Espaciado entre el título y el contenido */
    transform: translateX(-20px); /* Ajusta la posición solo en móvil */
  }
  .footer-section ul {
    margin-left: -60px; /* Mueve solo la lista */
  }

  .new-footer .footer-section a {
    margin-bottom: 10px; /* Espaciado entre el título y el contenido */
    transform: translateX(-20px); /* Ajusta la posición solo en móvil */
  }

  .new-footer .social-icons {
    justify-content: center; /* Centrar los íconos sociales */
  }

  .new-footer .whatsapp-link {
    justify-content: center; /* Centrar el enlace de WhatsApp */
  }
}


/* Sección Métodos de Pago */
.payment-methods-section {
  background-color: #f9f9f9; /* Fondo claro */
  padding: 60px 20px;
  text-align: center;
}

.payment-methods-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.payment-method2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-template-rows: repeat(2, auto); /* Dos filas */
  gap: 10px; /* Espacio entre los elementos */
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-method2 img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
  grid-column: span 1; /* Cada imagen ocupa una columna */
}

.payment-method2 p {
  font-family: 'UbuntuLight';
  font-size: 12px;
  color: #333;
  grid-column: span 1; /* Cada párrafo ocupa dos columnas */
}

.left-aligned {
  font-family: 'UbuntuLight';
  text-align: left; /* Alinea el texto a la izquierda */
}

.az {
  font-family: 'UbuntuLight';
  color: blue; /* Color azul */
}

.cv {
  font-family: 'UbuntuLight';
  color: green; /* Color azul */
}

.right-title2 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-family: 'UbuntuBold', sans-serif;
}

.payment-description {
  font-size: 20px;
  color: #666;
  margin-bottom: 40px;
  font-family: 'UbuntuLight';
}

.payment-methods-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Diseño responsive */
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.payment-method {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.payment-method:hover {
  transform: scale(1.05); /* Agranda ligeramente al pasar el cursor */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.payment-method img {
  width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.payment-method p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
  font-family: 'UbuntuLight';
}

.payment-note {
  margin-top: 40px;
  font-size: 18px;
  color: #666;
  font-family: 'UbuntuLight';
}


.center-aligned {
  text-align: center;
  margin: 0 auto;
  color:black!important;
}

.contact-link {
  text-decoration: none;
  color: #2E3192;
  font-weight: bold;
}

/* Responsive ajustes */
@media (max-width: 768px) {
  .right-title2 {
    font-size: 36px;
  }

  .payment-description {
    font-size: 18px;
  }

  .payment-method img {
    width: 80px;
  }
}


