/* Alineación de texto */
.App {
  text-align: center;
}

/* Estilo del logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Animación del logo */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Encabezado de la aplicación */
.App-header {
  background-color: #1A3B63; /* Azul Oscuro */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Enlaces de la aplicación */
.App-link {
  color: #3A699A; /* Azul Medio */
}

/* Animación del logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
